/* EXPERIENCE CARD TEXT FIX */

.exp-card{
background:white;
padding:25px;
margin-bottom:25px;
border-radius:10px;
box-shadow:0 6px 15px rgba(0,0,0,0.08);
color:#333;
}

.exp-card h5{
color:#000;
font-weight:600;
}

.exp-card p{
color:#555;
}

.exp-card ul{
color:#333;
}

.exp-card li{
margin-bottom:6px;
}
